[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
requests = "*"
flask-mail = "*"
flask-oauthlib = "*"
bcrypt = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"

[scripts]
start = "python entrypoint.py"
setup_db = "python scripts/setup_db.py"
cleanup_db = "python scripts/cleanup_db.py"
psql = "python scripts/docker_exec.py"
up = "echo 'Not implemented yet!'"
down = "echo 'Not implemented yet!'"
kubectl = "echo 'Not implemented yet!'"
