.founders-all-container {
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.mission-subhead {
    text-align: center;
}

.about-para {
    text-align: center;
    margin-bottom: 3vh;
}

.founder-container {
    margin: 0vh 1vh;
}
.founder-img {
    width: 20vh;
    aspect-ratio: 1/1;
}
