
.about-ourmission-container, 
.about-demo-container{
    height: 70vh;
    margin: 4vh 2vw;
    display: flex;
    padding: 2vh 2vw;
    border: 1px solid black;
}

.about-founders-container{
    height: 70vh;
    margin: 4vh 2vw;
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    border: 1px solid black;
}

.about-ourmission-left-col, 
.about-ourmission-right-col {
    width: 48vw;
}

.about-mission-carousel{
    margin-top: 4vh;
    height: 80%;
}

.mission-carousel-strong-text{
    font-size: 2.7vw;
}

.mission-carousel-text,
.mission-demo-text{
    width: 90%;
    font-size: 1.8vw;
}

.mission-demo-text{
    text-align: right;
}
.about-founders-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* OLD */

.founders-all-container {
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.mission-subhead {
    text-align: center;
    color: var(--lightPurple);
}

.about-para {
    text-align: center;
    margin-bottom: 3vh;
    margin-left: 5%;
    margin-right: 5%;
}

.founder-container {
    margin: 1.2vh 4vw;
    height: auto;
}

.founder-img {
    width: 17vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.founder-subtext{
    text-align: center;
    margin-top: .9vh;
}
