.about-container-full {
    width: 100%;
    height: 100%;
    align-content: center;
    background-image: url('/src/assets/images/testbg/background.png');
	background-position: center;
}

.about-ourmission-container, 
.about-demo-container{
    height: 70vh;
    margin: 4vh 2vw;
    display: flex;
    padding: 2vh 2vw;
    background-color: var(--white);
    border: 4px dashed var(--darkOrange);
}

.about-demo-container{

    align-items: center;
}

.about-founders-container{
    height: 90vh;
    margin: 4vh 2vw;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 2vh 2vw;
    padding-bottom: 10px;
    border: 4px dashed var(--darkOrange);
    font-size: 25px;
    font-weight: 600;
    color: var(--green);
}

.about-mission-carousel{
    margin-top: 4vh;
    height: 80%;
    align-content: center;
}

.mission-carousel-strong-text{
    font-size: 25px;
}

.mission-carousel-text,
.mission-demo-text{
    width: 90%;
    font-size: 1.6vw;
    align-items: center;
}

.mission-demo-text{
    text-align: right;
}
.about-founders-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-logo{
    width: 80%;
}

/* OLD */

/* .founders-all-container {
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-around;
} */

.mission-subhead {
    text-align: center;
    color: var(--lightOrange);
}

.founder-container {
    margin: 1.2vh 5vw;
    height: auto;
}

.founder-img {
    width: 15vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.founder-subtext{
    text-align: center;
    margin-top: .9vh;
}

@media screen and (max-width: 720px){
    .about-ourmission-container, 
    .about-demo-container{
        height: 500px;
        margin: 2vh 2vw;
        display: flex;
        flex-direction: column-reverse;
        padding: 2vh 2vw;
        border: 3px solid var(--darkOrange);
    }

    /* .about-ourmission-left-col{
        width: 100%;
        height: 60%;
    }
    
    .about-ourmission-right-col {
        width: 100%;
        height: auto;
    } */

    .about-mission-carousel{
        text-align: center;
        margin-top: 1.3vh;
        height: 80%;
        width: 90%;
    }

    .mission-carousel-strong-text{
        font-size: 3.2vw;
    }

    .mission-carousel-text,
    .mission-demo-text{
        width: 90%;
        font-size: 20px;
    }
/* 
    .about-founders-container{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    } */

    .about-founders-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .founder-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.2vh 4vw;

    }
}
