.shop-coin-balance {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px; 
    margin-top: -10px;
  }
  .shop-coin-balance p {
    margin-top: 18px;
  }
  
.shop-coin-icon {
    margin-right: -10px;
    transform: scale(0.4);
    cursor: pointer;
  }

.shop-coin-info {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}