/* for all the styles we want across the app :) */
:root {
    --offYellow: #A69C4D;
    --darkBlueBG: linear-gradient(180deg,#080117,#190445,#1f0750);
    --whiteText: #FFFFFF;
}

.yellow-text, .top-header {
    color: var(--offYellow);
}

body {
    background: var(--darkBlueBG);
}

h2 {
    color: var(--offYellow);
}

.white-text {
    color: var(--whiteText);
}

.top-header {
    margin: 3vh 0px 5vh;
    font-size: 38px;
    text-align: center;

}

.has-pointer{
    cursor: pointer;
}
