body {
  color: var(--darkBlueBG);
}

.index-home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
  flex: 1 0 auto;
  padding-top: 5%;
}

.character {
  height: 250px;
  width: 150px;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0);  
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

.completion-bar {
  display: flex;
  outline: 3px solid var(--gray);
  border-radius: 60px;
  height: 15px;
  width: 30%;
  z-index: 1;
}

.completion {
  background: var(--tealBlue);
  border-radius: 50px;
  height: 15px;
  width: 97%;
}

.bg-image-wrapper {
  position: fixed;
  overflow: hidden;
  z-index: -2;
  width: 100px;
  height: 100px;
  transition: width 0.5s ease, height 0.5s ease; 
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

.backgroundim {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grid-home {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: none;
  z-index: 2;
}

.grid-home-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.image1 {
  grid-row: 1;
  grid-column: 2; 
}

.image2 {
  grid-row: 1;
  grid-column: 4;
}

.image3 {
  grid-row: 2;
  grid-column: 1;
}

.image4 {
  grid-row: 2;
  grid-column: 5;
}

.image5 {
  grid-row: 3;
  grid-column: 2;
}

.image6 {
  grid-row: 3;
  grid-column: 4;
}

.character {
  grid-row: 2;
  grid-column: 3;
}