.login-container {
    margin: auto;
    /* display: flex; */
    background-color: #211C4A;
    width: 60vh;
    height: 55vh;
    border: 2px solid #A69C4D;
}

/* not working for some reason */
#active-log-btn {
    border-bottom: 2px;
}

.log-reg-btn {
    border-color: #A69C4D;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    height: 6vh;
    width: 50%;
    font-size: 25px;
}
.log-reg-btn:nth-child(2) {
    border-right: 0px;
}


button {
    background-color: inherit;
    border-style: unset;
}

.log-reg-title {
    margin: 2.5vh 0px;
    text-align: center;
    font-size: 23px;
}
