.login-page {
    height: 100vh;
    overflow-y: hidden;
}

.login-container {
    margin: auto;
    /* display: flex; */
    background-color: var(--lightPurple);
    color: var(--darkBlueBG);
    width: 60vw;
    height: 65vh;
    border-radius: 5px;
    border: 3px solid var(--gray);
}

/* not working for some reason */
/* .active-log-btn {
    border-bottom: 0px;
    background-color: var(--tealBlue);
} */

.log-reg-btn {
    border-color: var(--gray);
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    height: 6vh;
    width: 50%;
    font-size: 25px;
    background-color: var(--lightPurple);
}

.log-reg-btn:nth-child(2) {
    border-right: 0px;
}

.log-reg-btn:active {
    color: var(--tealBlue);
}

button {
    background-color: inherit;
    border-style: unset;
}

.log-reg-title {
    margin: 2.5vh 0px;
    text-align: center;
    font-size: 23px;
}

.input-area-container {
    text-align: center;
    width: auto;
    margin: 0px 6%;
    height: 66%;
    background-color: var(--lightPurple)
    /* border: .5px solid #A69C4D; */
}

::placeholder {
    color: var(--darkBlueBG);
    opacity: 0.8;
}

input {
    border-style: unset;
}

.input-field {
    width: 100%;
    height: 4vh;
    text-align: center;
    /* color: #FEEFBA; */
    background-color: var(--whiteText);
    border-radius: 2px;
    border-color: var(--darkBlueBG);
    /* font-size: 14px; */
    color: var(--lightPurple);
}

.input-idv-container {
    margin-bottom: 1vh;
    text-align: center;
}

.input-area-container p {
    margin-top: .1vh;
    color: var(--tealBlue);
    font-size: .8rem;
}

#forgot-password, #return-to-login {
    text-decoration: underline;
}

#result-message {
    text-align: center;
}


.OAuth-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1vh;
    border: 1px solid var(--darkBlueBG);
    background-color: #d8afd5;
    height: 5vh;
    width: 28vh;
    padding: 3px;
    border-radius: 14px;
}

.OAuth-icon {
    height: 87%;
    margin-right: 1vh;
}

/* .password-field {

} */

.requirements-container {
    margin-top: .5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requirement-icons {
    height: 1.5vh;
    margin: 0 1vh 0 .6vh;
}

.reg-req-text{
    margin-bottom: .3vh;
}

@media screen and (max-width: 620px){
    .login-container {
        margin: auto;
        /* display: flex; */
        background-color: var(--lightPurple);
        color: var(--darkBlueBG);
        width: 94vw;
        height: 65vh;
        border-radius: 5px;
        border: 3px solid var(--gray);
    }
    
    #iac-Login {
        text-align: center;
        width: auto;
        margin: 0px 6%;
        height: 61.5%;
        background-color: var(--lightPurple)
    }

    #iac-Register {
        text-align: center;
        width: auto;
        margin: 0px 6%;
        height: 68.5%;
        background-color: var(--lightPurple)
    }

    #id-Login{
        height: 56vh;
    }

    #id-Register{
        height: 65.5vh;
    }

    #result-message {
        margin-top: 0;
    }

    .OAuth-btn:nth-child(1){
        margin-bottom: 1vh;
    }
}
