.swal2-show {
    animation: swal2-show 0.2s;
  }
  
.swal2-hide {
    animation: swal2-hide 0.2s;
  }

.modal-content {
    text-align: left;
    background-color: #e1e1e173;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", Helvetica;
  }

.inventory-header {
    color: black;
    font-size: 24px;
    width: 500px;
    margin-top: -40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #7e7e7e16;

}

.inventory-items {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: flex-start; /* Distribute items evenly within the container */
    border-top: black;
    background-color: rgba(118, 118, 118, 0.218);
}

.inventory-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    width: 110px;
    height: 120px;
    background-color: #fff; 
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.564);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transform: scale(0.9);
  }
  
.inventory-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(0.95);
  }

.inventory-image {
    width: 90px;
    height: 100px; 
    object-fit: contain;
    margin-top: -10px;
    transform: scale(0.8);
  }