header {
  background-color: var(--white);
  display: flex;
  max-height: 50px;
}

nav {
  display: flex;
  align-items: center;
	flex-wrap: wrap;
}

.logo {
  padding-top: 5px;
  margin-right: auto; 
	margin-left: 30px;
  height: 55px;
  width: 300px;
}

.navi-link {
  display: inline-block;
  padding: 10px 8px;
	margin: 0;
	margin-left: 20px;
	margin-right: 10px;
  font-weight: 800;
  font-size: 18px;
  color: var(--darkOrange);
	font-family: "Inter", Helvetica;
}

.active {
  color: var(--green);
  font-weight: 800;
}