header {
  background-color: var(--darkBlueBG);
  display: flex;
}

nav {
  display: flex;
  align-items: center;
	flex-wrap: wrap;
}

.logo {
  margin-right: auto; 
	margin-left: 20px;
  height: 50px;
  width: 100px;
}

.navi-link {
  display: inline-block;
  padding: 10px 8px;
	margin: 0;
	margin-left: 20px;
	margin-right: 10px;
  font-weight: 50px;
  font-size: 18px;
  color: var(--whiteText);
	font-family: "Inter", Helvetica;
}

.active {
  color: var(--tealBlue);
}