.prev-box {
     padding: 20px;
     background-color: #fad3d4;
     border: 2.5px solid #b6702a;
     border-radius: 7px;
     height: 99vh;
     width: 150%;
     margin-top: 80px;
     margin-right: -50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: hidden; /* Prevent content overflow */
}

.prevbox-container {
    position: relative;
    left: 116px;
}

.preview-header {
    font-size: 32px;
    margin-top: 10px;
    margin-left: 28px;
    white-space: nowrap;
}

.item-preview-container {
    background-color: #e8c2c3;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.item-preview-container img {
    width: auto;
    width: 400px; 
    height: 400px;
    transform: scale(0.6);
  }

.item-details-container {
    color: #fffcf5;
    background-color: #e8c2c3;
    width: 100%;
    margin-top: -10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 260px;
}

.item-details-container h2 {
    color: #b6702a;
    font-weight: 500;
    font-size: 22px;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.item-details-container h3 {
    color: #8cbeaa;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 18px;
}

.item-details-container .item-description {
    font-size: 14px;
    font-weight: 500;
    color: #fffcf5;
}

.buy-button-container {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    background-color:  #e6a157;
    border: 3px solid #b6702a;
    font-size: 18px;
    text-align: center;
	font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #fffcf5;
    transform: scale(0.9);
}

.buy-btn:hover {
    background-color: #8cbeaa;
}

.price-preview {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(1.2);
  }

.price-preview .coin-image {
    margin-top: -12px;
}

.price-preview p {
    margin-top: 5px;
    margin-left: 2px;
  }

.confirmation-modal {
    background: #fad3d4;
    margin-top: 10px;
    text-align: center;
    color: #110f0f;
    border-radius: 10px;
}

.confirmation-modal h2 {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #757780;
}

.buy-confirm {
    margin-top: 5px;
    background-color:  #e6a157;
    border: 3px solid #b6702a;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 5px;
}

.buy-confirm:hover {
    background-color: #8cbeaa;

}

.buy-cancel {
    background-color:  #e6a157;
    border: 3px solid #b6702a;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.buy-cancel:hover {
    background-color: #8cbeaa;
    
}