.prev-box {
     padding: 20px;
     background-color: #66cfc8;
     border-radius: 10px;
     max-width: 49%;
     margin-top: 140px;
     border-radius: 10px;
     height: 75vh;
     width: 100%;
     margin-left: 30px;
     margin-right: 30px;
}