.indexP {
  justify-content: center;
  width: 100%;
  max-height: 100vh;
}

.profile-title {
	color: var(--green);
	font-family: "Inter", Helvetica;
	font-size: 45px;
	font-weight: 600;
	position: absolute;
	text-align: center;
	top: 6%;
	width: 100%;
}

.flex-container-profile {
	height: 55%;
	position: absolute;
	border-top: 4px solid var(--darkOrange);
	border-bottom: 4px solid var(--darkOrange);
	top: 15%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-image: url('/src/assets/images/testbg/profilebg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.ellipse {
	height: 220px;
	left: 10%;
	object-fit: cover;
	position: absolute;
	width: 220px;
	border-radius: 50%;
	border: 2px solid var(--darkOrange);
}

.itext-wrapper-1 {
	color: var(--lightOrange);
	font-family: "Inter", Helvetica;
	font-size: 40px;
	font-weight: 600;
	left: 30%;
	position: absolute;
	top: 2%;
}

.itext-wrapper-2 {
	color: var(--offBlack);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: 500;
	left: 30%;
	position: absolute;
	top: 16%;
}

.itext-wrapper-22 {
	color: var(--lightOrange);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: 500;
	left: 30%;
	position: absolute;
	top: 18%;
}

.itext-wrapper-222 {
	color: var(--lightOrange);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: 500;
	left: 45%;
	position: absolute;
	top: 18%;
}

.itext-wrapper-3 {
	color: var(--lightOrange);
	font-family: "Inter", Helvetica;
	font-size: 24px;
	font-weight: 600;
	left: 30%;
	position: absolute;
	top: 28%;
}

.ip {
	color: var(--offBlack);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: 500;
	left: 30%;
	position: absolute;
	top: 38%;
}

.itext-wrapper-4 {
	color: var(--lightOrange);
	font-family: "Inter", Helvetica;
	font-size: 24px;
	font-weight: 600;
	height: 40px;
	left: 30%;
	position: absolute;
	top: 50%;
}

.itext-wrapper-5 {
	color: var(--offBlack);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: 500;
	left: 30%;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 60%;
	width: 1000px;
}

.edit-button {
	background-color: var(--green);
	border: 2px solid var(--darkOrange);
	color: var(--white);
	border-radius: 30px;
	font-weight: 500;
	height: 40px;
	width: 100px;
}

.edit-button:hover {
	background-color: var(--lightOrange);
}

.save-button:hover {
	background-color: var(--lightOrange);
}

.save-button {
	background-color: var(--green);
	border: 2px solid var(--darkOrange);
	color: var(--white);
	border-radius: 30px;
	font-weight: 500;
	height: 40px;
	width: 130px;
}

.flex-container-stat {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 8%;;
  margin: 460px auto 0;
  height: 200px;
  position: relative;
}

.icontainer2, 
.icontainer3,
.icontainer4,
.icontainer5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(33.33% - 20px);
}

.icontainer2, 
.icontainer3,
.icontainer4 {
	border-right: 3px solid var(--darkOrange);
}

/* My coins box */
.irectangle-1 {
	background-color: var(--pink);
	border-radius: 5px;
	border: 2px dashed var(--darkOrange);
	height: 125px;
  	width: 100%;
 	max-width: 224px; 
	display: flex;
	flex-direction: column;
 	align-items: center;
}

.itext-wrapper-6 {
	color: var(--offBlack);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: bold;
	height: 43px;
	left: 44px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	top: 0;
	width: 135px;
	padding-top: 10px;
}

.irectangle-2 {
	background-color: #f5f5f5;
	border-radius: 10px;
	height: 52px;
	width: 150px;
	display: flex;
	flex-direction: row;
  align-items: center;
	padding-left: 20px;
}

.itext-wrapper-7 {
	color: var(--offBlack);
	font-family: "Inter", Helvetica;
	font-size: 24px;
	font-weight: 400;
	height: 27px;
	left: 86px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	top: 68px;
	white-space: nowrap;
	width: 76px;
}

.img {
	height: 33px;
	left: 62px;
	object-fit: cover;
	top: 63px;
	width: 30px;
}

/* shop box */
.irectangle-3 {
	background-color: var(--green);
	border: 2px dashed var(--offBlack);
	border-radius: 5px;
	height: 125px;
	left: 0;
	top: 1px;
	width: 224px;
	display: flex;
	flex-direction: column;
  align-items: center;
}

.itext-wrapper-9 {
	color: var(--offBlack);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: bold;
	height: 43px;
	left: 44px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	top: 0;
	width: 135px;
	padding-top: 10px;
}

.pro-button {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	border-radius: 10px;
	color: var(--offBlack);
	font-family: "Inter", Helvetica;
	font-size: 24px;
	font-weight: 400;
	height: 52px;
	width: 150px;
	display: flex;
	padding-top: 10px;
	flex-direction: column;
  	align-items: center;
}

/* login streak */

.irectangle-5 {
	background-color: var(--pink);
	border-radius: 5px;
	border: 2px dashed var(--darkOrange);
	height: 125px;
	left: 0;
	top: 1px;
	width: 224px;
	display: flex;
	flex-direction: column;
  	align-items: center;
}

.itext-wrapper-11 {
	color: var(--offBlack);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: bold;
	height: 43px;
	left: 44px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	top: 0;
	width: 135px;
	padding-top: 10px;
}

.irectangle-6 {
	background-color: #f5f5f5;
	border-radius: 10px;
	height: 52px;
	width: 150px;
	display: flex;
	flex-direction: column;
  align-items: center;
}

/* end of containers */

/* image banner */
.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}

/* edit profile button */
.div-wrapper {
	left: 30%;
	position: absolute;
	top: 63%;
}

.idiv-wrapper2 {
	left: 37%;
	position: absolute;
	top: 87%;
}

.itext-wrapper-13 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 16px;
	font-weight: 400;
	height: 23px;
	left: 4px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 4px;
	width: 89px;
}

/* edit profile form */
input {
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 5px 10px; 
	font-size: 16px;
}

#alias {
  height: 35px; 
	width: auto;
}

#age {
  height: 30px;
	width: 100px;
} 

#gender {
  height: 30px;
}

#quote {
  height: 30px;  
}

#goals {
  height: 60px;
	width: 900px;
}
