.indexP {
  justify-content: center;
  width: 100%;
  max-height: 100vh;
}

.flex-container-profile {
	height: 336px;
	left: 104px;
	position: absolute;
	top: 15%;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.ellipse {
	height: 220px;
	left: 10%;
	object-fit: cover;
	position: absolute;
	width: 220px;
	border-radius: 50%;
}

.text-wrapper-1 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 35px;
	font-weight: 600;
	height: 60px;
	left: 30%;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
}

.text-wrapper-2 {
	color: var(--whiteText);
	font-family: "Inter", Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 30%;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 73px;
	width: 321px;
}

.text-wrapper-22 {
	color: var(--whiteText);
	font-family: "Inter", Helvetica;
	font-size: 16px;
	font-weight: 400;
	height: 21px;
	left: 30%;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 73px;
	width: 321px;
}

.text-wrapper-3 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 24px;
	font-weight: 400;
	height: 40px;
	left: 30%;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 106px;
	width: 205px;
}

.p {
	color: var(--whiteText);
	font-family: "Inter", Helvetica;
	font-size: 16px;
	font-weight: 400;
	height: 23px;
	left: 30%;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 159px;
	width: 824px;
}

.text-wrapper-4 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 24px;
	font-weight: 400;
	height: 40px;
	left: 30%;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 195px;
	width: 205px;
}

.text-wrapper-5 {
	color: var(--whiteText);
	font-family: "Inter", Helvetica;
	font-size: 16px;
	font-weight: 400;
	height: 88px;
	left: 30%;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 248px;
	width: 824px;
}

.edit-button {
	background-color: var(--tealBlue);
	border-color: #0f0e06f0;
	border-radius: 10px;
	height: 33px;
	width: 99px;
}

.save-button {
	background-color: var(--tealBlue);
	border-color: #0f0e06f0;
	border-radius: 10px;
	height: 33px;
	width: 130px;
}

.flex-container-stat {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 460px auto 0;
  height: 190px;
  position: relative;
  background-color: var(--gray);
}

.container2, 
.container3,
.container4,
.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(33.33% - 20px);
}

/* My coins box */
.rectangle-1 {
	background-color: var(--lightPurple);
	border-radius: 10px;
	height: 125px;
  width: 100%;
  max-width: 224px; 
	display: flex;
	flex-direction: column;
  align-items: center;
}

.text-wrapper-6 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: bold;
	height: 43px;
	left: 44px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	top: 0;
	width: 135px;
	padding-top: 10px;
}

.rectangle-2 {
	background-color: #f5f5f5;
	border-radius: 10px;
	height: 52px;
	width: 150px;
	display: flex;
	flex-direction: row;
  align-items: center;
	padding-left: 20px;
}

.text-wrapper-7 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 24px;
	font-weight: 400;
	height: 27px;
	left: 86px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	top: 68px;
	white-space: nowrap;
	width: 76px;
}

.img {
	height: 33px;
	left: 62px;
	object-fit: cover;
	top: 63px;
	width: 30px;
}

/* shop box */
.rectangle-3 {
	background-color: var(--lightPurple);
	border-radius: 10px;
	height: 125px;
	left: 0;
	top: 1px;
	width: 224px;
	display: flex;
	flex-direction: column;
  align-items: center;
}

.text-wrapper-9 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: bold;
	height: 43px;
	left: 44px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	top: 0;
	width: 135px;
	padding-top: 10px;
}

.shop-button {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	border-radius: 10px;
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 24px;
	font-weight: 400;
	height: 52px;
	width: 150px;
	display: flex;
	padding-top: 10px;
	flex-direction: column;
  align-items: center;
}

/* login streak */

.rectangle-5 {
	background-color: var(--lightPurple);
	border-radius: 10px;
	height: 125px;
	left: 0;
	top: 1px;
	width: 224px;
	display: flex;
	flex-direction: column;
  align-items: center;
}

.text-wrapper-11 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 20px;
	font-weight: bold;
	height: 43px;
	left: 44px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	top: 0;
	width: 135px;
	padding-top: 10px;
}

.rectangle-6 {
	background-color: #f5f5f5;
	border-radius: 10px;
	height: 52px;
	width: 150px;
	padding-top: 12px;
	display: flex;
	flex-direction: column;
  align-items: center;
}

.text-wrapper-12 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 24px;
	font-weight: 400;
	height: 27px;
	left: 86px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	top: 68px;
	white-space: nowrap;
	width: 76px;
}

/* end of containers */

/* image banner */
.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}

/* edit profile button */
.div-wrapper {
	left: 465px;
	position: absolute;
	top: 434px;
}

.div-wrapper2 {
	left: 465px;
	position: absolute;
	top: 356px;
	z-index: 1;
}

.text-wrapper-13 {
	color: var(--tealBlue);
	font-family: "Inter", Helvetica;
	font-size: 16px;
	font-weight: 400;
	height: 23px;
	left: 4px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 4px;
	width: 89px;
}

/* edit profile form */
input {
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 5px 10px; 
	font-size: 16px;
}

#alias {
  height: 35px; 
	width: auto;
}

#age {
  height: 30px;
	width: 100px;
} 

#gender {
  height: 30px;
}

#quote {
  height: 30px;  
}

#goals {
  height: 60px;
	width: 900px;
}
