.box {
    padding: 20px;
    background-color: #1d005c;
    border-radius: 10px;
    height: 75vh;
    width: 300%;
    margin-top: 140px;
    margin-left: -152px;
    margin-right: 50px;
  }

  .shop-header {
    font-size: 32px;
    margin-top: 20px;
    margin-left: 28px;
    white-space: nowrap;
  }