@import url("shopitem.css");

.box {
    padding: 20px;
    background-color: #fad3d4;
    border: 2.5px solid #b6702a;
    border-radius: 7px;
    width: 95%;
    min-height: 80vh;
    margin-top: 80px;
    margin-left: 40px;
  }

.shop-header {
    font-size: 32px;
    white-space: nowrap;
    font-weight: 500;
    margin-top: 66px;
    margin-left: 40px;
  }

  .item-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
  }
  
  .shop-item {
    margin: 10px;
  }

