@import url("https://fonts.googleapis.com/css?family=Roboto");

.page-description {
    text-align: center;
    justify-self: center;
    margin: 0 30vh;
    margin-bottom: 6vh;
    font-size: 17px;
}

.white-h3 {
    font-size: 21px;
    margin-bottom: .5vh;
    font-weight: 600;
}

.carousel-comp-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services-carousel {
    overflow: hidden;
    /* width: 700px; */
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.support-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #FBDB68; */
    border: 2.8px solid #A69C4D;
    height: 60vh;
    aspect-ratio: 1/1;
    border-radius: 25px;
    margin: 1vh 2vh;
    
}
/* inactive */
.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    background-color: #fff;
}

.inner {
    white-space: "nowrap";
    transition: transform 0.3s;
    box-shadow: 0 5px rgb(0, 0, 0, 0.05);
}

.support-icon {
    width: 100%;
    padding: 6vh;
}

.icon-title {
    text-align: center;
    font-size: 23px;
    white-space: normal;
}
/* inactive */
.carousel-item-text {
    font-size: 1.15rem;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: #617D98;
}

/* .support-item-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 0 10px;
    width: 135px;
} */

.carousel-buttons {
    display: flex;
    justify-content: space-evenly;
}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.indicator-buttons {
    border: none;
    cursor: pointer;
}

.indicator-buttons-active {
    font-weight: 600;
}

.button-arrow {
    cursor: pointer;
    margin-top: 3vh;
}

/* NO CAROUSEL */

.service-options-container {
    background-color: #4F4792;
    height: 28vh;
    width: 70%;
    margin-top: 2vh;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2.5%;
}

.service-options-container {
    display: flex;
    flex-direction: column;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.service-img {
    width: 45px;
    aspect-ratio: 1/1;
    background-color: #aba5d7;
    border-radius: 50%;
}

.service-text-area {
    text-align: center;
    height: 35px;
    width: 100%;
    background-color: #211C4A;

}

.center-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

