@import url("https://fonts.googleapis.com/css?family=Roboto");

.page-description {
    text-align: center;
    justify-self: center;
    margin: 0 30vh;
    margin-bottom: 6vh;
    font-size: 17px;
}

.white-h3 {
    font-size: 21px;
    margin-bottom: .5vh;
    font-weight: 600;
}


.support-icon{
    height: 30vh;
    width: 60vh;
} 

/* .inner {
    display: flex;
    white-space: "nowrap";
    transition: transform 0.3s;
    box-shadow: 0 5px rgb(0, 0, 0, 0.05);
} */
.support-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #FBDB68; */
    /* border: 2.8px solid #A69C4D;  */
    width: 101.5vh;
    aspect-ratio: 1/.7;
    border-radius: 25px;
    margin: auto;
} 

/* NO CAROUSEL */

.service-options-container {
    background-color: #4F4792;
    height: 28vh;
    width: 70%;
    margin-top: 2vh;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2.5%;
}

.service-options-container {
    display: flex;
    flex-direction: column;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.service-img {
    width: 45px;
    aspect-ratio: 1/1;
    background-color: #aba5d7;
    border-radius: 50%;
}

.service-text-area {
    text-align: center;
    height: 35px;
    width: 100%;
    background-color: #211C4A;

}

.center-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

