.walking-character {
    background-image: url('/src/assets/images/testHomeComp/monstere.png');
    background-repeat: no-repeat;
    width: 96px;
    height: 96px;
    position: absolute;
    animation: walking-character-animation 1s steps(6) infinite;
}

@keyframes walking-character-animation {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -576px 0px;
    }
}

.walking-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: end;
    z-index: 1;
  }