
.welcome-ova-div{
    padding: 0vh 3.5vw;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.welcome-ova-div{
    height: 100vh;
    overflow-y: hidden;
    background-image: url('/src/assets/images/testbg/loginbg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#welcome-header{
    color: var(--offBlack);
}
.welcome-qp-btn{
    animation: fadeInAnimation ease 1s;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* USERS CLICK WHICH FADES THE BG AND DISPLAYS A BUTTON */
.welcome-quad-row {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}
.welcome-quad-cont {
    background: radial-gradient(circle, rgba(250,211,212,1) 48%, rgba(238,166,168,0.8) 100%);
    text-align: center;
    width: 20vw;
    height: 55vh;
    border: 2.5px solid var(--darkOrange);
    padding: 1vh 1vw;
    border-radius: 7px;
}

.welcome-padlock{
    width: 50%;
    margin-top: 4.5vh;
    opacity: .2;
}

.welcome-quad-cont:focus{
    border-width: 5px;
}

.welcome-quad-cont:hover {
    background-color: var(--lightOrange);
}
.welcome-quad-cont:focus {
    background: radial-gradient(circle, rgba(250,211,212,1) 48%, rgba(237,154,156,0.8) 100%);
    background-color: #f4a44d;
    border-width: 3px;
}

#welcome-quad-1{
    animation: quad-2-float 3s ease-in-out infinite;
}

#welcome-quad-2{
    margin-top: 8.3vh;
    animation: quad-2-float 3s ease-in-out infinite;
    animation-delay: .5s;
}

#welcome-quad-3{
    margin-top: 16.7vh;
    animation: quad-2-float 3s ease-in-out infinite;
    animation-delay: 1s;
}

#welcome-quad-4{
    margin-top: 25vh;
    animation: quad-2-float 3s ease-in-out infinite;
    animation-delay: 1.5s;
}

@keyframes quad-2-float {
    0% {
      transform:  translateY(0);  
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

.welcome-qp-btn{
    margin-top: 30%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vh 2.5vw;
}

/* MEDIA QUERY FOR MOBILE VERTICAL STACK */

@media screen and (max-width: 620px) {

    .welcome-ova-div{
        padding: 0 4vw;
    }

    .welcome-quad-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1vw;
        /* position: relative; */
    }

    .welcome-quad-cont {
        background-color: #ffbda8;
        text-align: center;
        width: 100%;
        height: 17vh;
        border: 1px solid black;
        padding: 1vh 1vw;
    }

    .welcome-qp-btn{
        margin-top: 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 1vh 2.5vw;
    }

    .welcome-padlock{
        width: 50px;
        margin-top: 0;
    }

    #welcome-quad-2, 
    #welcome-quad-3, 
    #welcome-quad-4{
        margin-top: 2.3vh;
        animation: quad-2-float 3s ease-in-out infinite;
        animation-delay: none;
    }
}
